* {
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    background-image: linear-gradient(#7ed56f, #28b485);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}